# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
streamlit

# data science
numpy
pandas
haversine
datetime
statistics
requests

# maps & plots
folium
seaborn
matplotlib

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
