# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
haversine
datetime
statistics
requests
streamlit
xgboost

# maps & plots
folium
seaborn
matplotlib
streamlit_folium

# API
gcsfs
google-cloud-storage
